<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/w3.css' %}">
    <link rel="stylesheet" href="{% static 'css/site.css' %}">

    <title>ScApp</title>
</head>

<body>

    <header class="cabecalho">
        <p></p>
    </header>

    {% block content %}{% endblock %}

    <footer class="rodape">
        <p>&copy;ScApp</p>
        <p id="data-atual"></p>
    </footer>

    <script src="{% static 'javascript/publicadores.js' %}"></script>

</body>

</html>