.rodape{
    margin-top: 32px;
    margin-left: 16px;
    margin-right: 16px;   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 8px;
    background-color: dodgerblue;
    color: white;
    font-weight: 100;    
}