.menu_item{
   margin-top: 16px;    
}

hr{
    color: gray;
    background-color: gray;
    height: 1.5px;
    margin-left: 16px;
    margin-right: 16px;
}

@media only screen and (min-width: 768px){
    .menu_item{
        max-width: 33.33%;
    }
}
