@media screen and (max-width: 600px){
    #menu-inicio{
        margin-top: 1.5%;    
        max-width: 100%;
    }
}

#menu-inicio{        
    max-width: 33.33%;
}

.menu_item{
    margin-top: 32px;
}

hr{
    color: blue;
    background-color: blue;
    height: 2px;
}