.rodape{
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    background-color: dodgerblue;
    color: white;
    font-weight: 100;    
}