* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 16px;
    background-color: indigo;
}

.menu_nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: indigo;
}

.menu_nav li{
    float: left;
}

.menu_nav a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}

.menu_nav a:hover{
    background-color: rgb(160, 73, 223);
}

.rodape{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: indigo;
    color: white;
    margin-top: 32px;
    padding: 8px;    
}

.tabela{
    cursor: pointer;
}

.nao-informado{
    color: red;
}

.botao_pesq{
    margin-top: 12px;
}

.barra-pesq{
    margin-top: 12px;
    width: 20%;
}

.barra-pesq > label{
    font-weight: bold;    
}

@media only screen and (min-width: 1024px){
    .login{
        max-width: 33.33%;
        margin-left: auto;
        margin-right: auto;
    }
    .desktop{
        max-width: 40%;            
    }
}