{% extends "layout.html" %}


{% block content %}
<!-- Menu Principal -->
<div id="menu-inicio" class="w3-container">

    <!-- Sub menu de Relatórios -->
    <div id="menu_relat" class="menu_item w3-card-4">
        <header class="w3-container w3-indigo">
            <h2>Relatórios</h2>
        </header>
        <div class="w3-container">
            <ul class="w3-ul">
                <li class="w3-hover-light-grey"><a href="#">Lista de Grupos</a></li>
                <li class="w3-hover-light-grey"><a href="{% url 'publicadores' %}">Lista de Publicadores</a></li>
                <li class="w3-hover-light-grey"><a href="#">Lista de Atividades</a></li>
            </ul>           
        </div>        
    </div>
    <!-- fim sub menu relatórios -->
    <hr>

    <div id="menu_adm" class="menu_item w3-card-4" style="margin-top: 16px;">
        <header class="w3-container w3-indigo">
            <h2>Administração</h2>            
        </header>
        <div class="w3-container">
            <ul class="w3-ul">
                <li class="w3-hover-light-grey"><a href="{% url 'admin:index' %}">Administação</a></li>
            </ul>
        </div>
    </div>

</div>

{% endblock %}


