{% extends "layout.html" %}


{% block content %}
<!-- Menu Principal -->
<div class="desktop w3-container w3-row" style="margin-top: 16px;">

    <!-- Sub menu de Relatórios -->
    <div class="w3-card menu_item">
        <header class="w3-container w3-indigo">
            <h3>Relatórios</h3>
        </header>
        <div class="w3-container">
            <ul class="w3-ul">
                <li class="w3-hover-light-grey"><a href="{% url 'grupos' %}">Lista de Grupos</a></li>
                <li class="w3-hover-light-grey"><a href="{% url 'publicadores' %}">Lista de Publicadores</a></li>
                <li class="w3-hover-light-grey"><a href="{% url 'atividades_lista' %}">Lista de Atividades</a></li>
                <li class="w3-hover-light-grey"><a href="{% url 'resumo_mes_betel' %}">Resumo Mês (Betel)</a></li>
            </ul>
        </div>
    </div>
    <!-- fim sub menu relatórios -->

    <hr>
    <div class="w3-card menu_item">
        <header class="w3-container w3-indigo">
            <h3>Administração</h3>
        </header>
        <div class="w3-container">
            <ul class="w3-ul">
                <li class="w3-hover-light-grey"><a href="{% url 'admin:index' %}">Administação</a></li>
            </ul>
        </div>
    </div>

</div>

{% endblock %}