<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/w3.css' %}">
    <link rel="stylesheet" href="{% static 'css/rodape.css' %}">
    <link rel="stylesheet" href="{% static 'css/geral.css' %}">
    

    <title>ScApp - {{ titulo }}</title>
</head>
<body>
    
    <div class="w3-container" style="margin-top: 8px;">
        <div class="w3-bar w3-border w3-light-grey" style="padding: 10px;">        
            <a href="{% url 'index' %}" class="w3-bar-item w3-button">Menu</a>
            <a class="w3-bar-item w3-right">Usuário: {{ user.get_username }}</a>
        </div>
    </div>
    <hr>

    {% block content %}{% endblock %}

    <footer class="rodape">
        <p>&copy;ScApp</p>
        <p id="data-atual"></p>
    </footer>
    <script src="{% static 'javascript/publicadores.js' %}"></script>    
</body>
</html>