{% extends 'layout.html' %}

{% block content %}

<form method="POST" class="w3-row">
    {% csrf_token %}
    {% load widget_tweaks%}
    {% load static %}
    <div class="w3-col w3-container barra-pesq">                
        <label for="form.id_for_label">Mês Inicio</label>
        {% render_field form.mes_inicio class="w3-select" %}
    </div>
    <div class="w3-col w3-container barra-pesq">        
        <label for="form.id_for_label">Ano Inicio</label>
        {% render_field form.ano_inicio class="w3-input" %}
    </div>
    <div class="w3-col w3-container barra-pesq">        
        <label for="form.id_for_label">Mês Fim:</label>
        {% render_field form.mes_fim class="w3-select" %}
    </div>
    <div class="w3-col w3-container barra-pesq">        
        <label for="form.id_for_label">Ano Fim:</label>
        {% render_field form.ano_fim class="w3-input" %}
    </div>
    <div class="w3-col w3-container barra-pesq">
        <button type="submit" class="w3-button w3-round-xlarge w3-yellow botao_pesq"><img
                src="{% static 'imagens/lupa_pesquisa.png' %}"> Pesquisar</button>
    </div>
</form>

{% if atividades_flt %}

<table>
    <thead>
        <tr>
            <th>Mês</th>
            <th>Ano</th>
            <th>Publicador</th>
        </tr>
    </thead>
    <tbody>
        {% for atividade in atividades_flt %}
        <tr>
            <td>{{ atividade.get_mes_relatorio_display }}</td>
            <td>{{ atividade.ano_relatorio }}</td>
            <td>{{ atividade.publicador }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endif %}

{% endblock %}