{% extends 'layout.html' %}

{% block content %}

<form method="POST" class="w3-cell-row" style="margin-bottom: 12px;">
    {% csrf_token %}
    {% load widget_tweaks%}
    {% load static %}
    <div class="w3-container w3-cell w3-mobile">
        <label for="form.id_for_label">Mês Inicio</label>
        {% render_field form.mes_inicio class="w3-select" %}
    </div>
    <div class="w3-container w3-cell w3-mobile">
        <label for="form.id_for_label">Ano Inicio</label>
        {% render_field form.ano_inicio class="w3-input" %}
    </div>
    <div class="w3-container w3-cell w3-mobile">
        <label for="form.id_for_label">Mês Fim:</label>
        {% render_field form.mes_fim class="w3-select" %}
    </div>
    <div class="w3-container w3-cell w3-mobile">
        <label for="form.id_for_label">Ano Fim:</label>
        {% render_field form.ano_fim class="w3-input" %}
    </div>
    <div class="w3-container w3-cell w3-mobile">
        <button type="submit" class="w3-button w3-blue item-pesq"><img src="{% static 'imagens/lupa_pesquisa.png' %}">
            Pesquisar</button>
    </div>
</form>

{% if atividades_flt %}

<div class="w3-responsive w3-container">    
    <input oninput="w3.filterHTML('#tblAtv', '.item', this.value)" class="w3-input"
        placeholder="Digite um valor de qualquer coluna para filtrar..." style="margin-bottom: 16px;">
    <table id="tblAtv" class="w3-table-all w3-hoverable" style="margin-top: 15px;">
        <thead>
            <tr class="w3-indigo">
                {% load static %}
                <th class="tabela" onclick="w3.sortHTML('#tblAtv', '.item', 'td:nth-child(1)');alteraImagem('order1')">Mês <img id="order1" src="{% static 'imagens/seta_baixo.png' %}"></th>
                <th class="tabela" onclick="w3.sortHTML('#tblAtv', '.item', 'td:nth-child(2)');alteraImagem('order2')">Ano <img id="order2" src="{% static 'imagens/seta_baixo.png' %}"></th>
                <th class="tabela" onclick="w3.sortHTML('#tblAtv', '.item', 'td:nth-child(3)');alteraImagem('order3')">Publicador <img id="order3" src="{% static 'imagens/seta_baixo.png' %}"></th>
                <th>Publicações</th>
                <th>Videos</th>
                <th>Horas</th>
                <th>Revisitas</th>
                <th>Estudos</th>
                <th>Observação</th>
            </tr>
        </thead>
        <tbody>
            {% for atividade in atividades_flt %}
            <tr class="item">
                <td>{{ atividade.get_mes_relatorio_display }}</td>
                <td>{{ atividade.ano_relatorio }}</td>
                <td>{{ atividade.publicador }}</td>
                <td>{{ atividade.publicacoes }}</td>
                <td>{{ atividade.videos }}</td>
                <td>{{ atividade.horas }}</td>
                <td>{{ atividade.revisitas }}</td>
                <td>{{ atividade.estudos }}</td>
                <td>{{ atividade.obs_relatorio }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endif %}

{% endblock %}