{% extends "layout.html" %}

{% block content %}
<div class="W3-container">
    <h1>Lista de Publicadores</h1>
    {% if publicador_list %}
    <div class="w3-responsive">
        <table class="w3-table-all">
            <thead>
                <tr>
                    <th>Nome do Publicador</th>
                    <th>Grupo</th>
                </tr>
            </thead>
            <tbody>
                {% for publicador in publicador_list %}
                <tr>
                    <td>{{ publicador.nome_publicador }}</td>
                    <td>{{ publicador.grupo_pub }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}

    <p>Não há publicadores cadastrados para listar...</p>

    {% endif %}

</div>
{% endblock %}