{% extends "layout.html" %}

{% block content %}

<div class="w3-container">
    {% load static %}
    <h2><a href="{% url 'publicadores' %}"><img src="{% static 'imagens/seta_voltar_preta.png' %}"></a> Voltar para lista</h2>
    <hr />
    <div class="w3-card-4 desktop">
        <header class="w3-container w3-indigo">
            <h2>{{publicador.nome_publicador}}</h2>
        </header>
        <div class="w3-container">
            <p>
                <b>Genero:</b>
                {% if publicador.genero %}
                {{ publicador.get_genero_display }}
                {% else %}
                <em class="nao-informado">Não informado</em>
                {% endif %}
            </p>
            <p>
                <b>Data de nascimento:</b>
                {% if publicador.data_nascimento %}
                {{ publicador.data_nascimento }}
                {% else %}
                <em class="nao-informado">Não informado</em>
                {% endif %}
            </p>
            <p>
                <b>Esperança:</b>
                {% if publicador.esperanca_pub %}
                {{ publicador.get_esperanca_pub_display }}
                {% else %}
                <em class="nao-informado">Não informado</em>
                {% endif %}
            </p>
            <p>
                <b>Data de Batismo:</b>
                {% if publicador.data_batismo %}
                {{ publicador.data_batismo }}
                {% else %}
                <em class="nao-informado">Não informado</em>
                {% endif %}
            </p>
            <p>
                <b>Atuação:</b>
                {% if publicador.atuacao_pub %}
                {{ publicador.get_atuacao_pub_display }}
                {% else %}
                <em class="nao-informado">Não informado</em>
                {% endif %}
            </p>
            <p>
                <b>Privilégio:</b>
                {% if publicador.privilegio_pub %}
                {{ publicador.get_privilegio_pub_display }}
                {% else %}
                <em class="nao-informado">Não informado</em>
                {% endif %}
            </p>
            <p>
                <b>Grupo:</b>
                {% if publicador.grupo_pub %}
                {{ publicador.grupo_pub }}
                {% else %}
                <em class="nao-informado">Não informado</em>
                {% endif %}
            </p>
            <p>
                <b>Telefone Fixo:</b>
                {% if publicador.tel_fixo %}
                {{ publicador.tel_fixo }}
                {% else %}
                <em class="nao-informado">Não informado</em>
                {% endif %}
            </p>
            <p>
                <b>Telefone Celular:</b>
                {% if publicador.tel_celular %}
                {{ publicador.tel_celular }}
                {% else %}
                <em class="nao-informado">Não informado</em>
                {% endif %}
            </p>
            <p>
                <b>Endereço:</b>
                {% if publicador.endereco_pub %}
                {{ publicador.endereco_pub }}
                {% else %}
                <em class="nao-informado">Não informado</em>
                {% endif %}
            </p>
        </div>
    </div>
    <hr />
</div>

{% endblock %}