{% extends 'layout.html' %}

{% block content %}

<form method="POST" class="w3-cell-row" style="margin-bottom: 12px;">
    {% csrf_token %}
    {% load widget_tweaks%}
    {% load static %}
    <div class="w3-container w3-cell w3-mobile">
        <label for="form.id_for_label">Mês Inicio</label>
        {% render_field form.mes_inicio class="w3-select" %}
    </div>
    <div class="w3-container w3-cell w3-mobile">
        <label for="form.id_for_label">Ano Inicio</label>
        {% render_field form.ano_inicio class="w3-input" %}
    </div>
    <div class="w3-container w3-cell w3-mobile">
        <button type="submit" class="w3-button w3-blue itb-pesq"><img src="{% static 'imagens/lupa_pesquisa.png' %}">
            Pesquisar</button>
    </div>
</form>

{% if atividades_resumo %}
<div class="w3-row">
    <div class="w3-card w3-quarter qd-resumo-bt">
        <header class="w3-container w3-indigo">
            <h2>Publicadores</h2>
        </header>
        <div class="w3-container">
            <p>
                <b>Total que relatou: </b>
                {% if pub_qtd_relat %}
                {{ pub_qtd_relat }}
                {% else %}
                <span class="nao-informado">0</span>
                {% endif %}
            </p>
            <p>
                <b>Publicações: </b>
                {% if pub_total_public.publicacoes__sum %}
                {{ pub_total_public.publicacoes__sum }}
                {% else %}
                <span class="nao-informado">0</span>
                {% endif %}
            </p>
            <p>
                <b>Horas: </b>
                {% if pub_total_horas.horas__sum %}
                {{ pub_total_horas.horas__sum }}
                {% else %}
                <span class="nao-informado">0</span>
                {% endif %}
            </p>
            <p>
                <b>Revisitas: </b>
                {% if pub_total_revis.revisitas__sum %}
                {{ pub_total_revis.revisitas__sum }}
                {% else %}
                <span class="nao-informado">0</span>
                {% endif %}
            </p>
            <p>
                <b>Estudos: </b>
                {% if pub_total_estud.estudos__sum %}
                {{ pub_total_estud.estudos__sum }}
                {% else %}
                <span class="nao-informado">0</span>
                {% endif %}
            </p>
        </div>
    </div>

    <div class="w3-card w3-quarter qd-resumo-bt">
        <header class="w3-container w3-indigo">
            <h2>Pioneiros Auxiliares</h2>
        </header>
        <div class="w3-container">
            <p>
                <b>Total que relatou: </b>
                {% if aux_qtd_relat %}
                {{ aux_qtd_relat }}
                {% else %}
                <span class="nao-informado">0</span>
                {% endif %}
            </p>
            <p>
                <b>Publicações: </b>
                {% if aux_total_public.publicacoes__sum %}
                {{ aux_total_public.publicacoes__sum }}
                {% else %}
                <span class="nao-informado">0</span>
                {% endif %}
            </p>
            <p>
                <b>Horas: </b>
                {% if aux_total_horas.horas__sum %}
                {{ aux_total_horas.horas__sum }}
                {% else %}
                <span class="nao-informado">0</span>
                {% endif %}
            </p>
            <p>
                <b>Revisitas: </b>
                {% if aux_total_revis.revisitas__sum %}
                {{ aux_total_revis.revisitas__sum }}
                {% else %}
                <span class="nao-informado">0</span>
                {% endif %}
            </p>
            <p>
                <b>Estudos: </b>
                {% if aux_total_estud.estudos__sum %}
                {{ aux_total_estud.estudos__sum }}
                {% else %}
                <span class="nao-informado">0</span>
                {% endif %}
            </p>
        </div>
    </div>

    <div class="w3-card w3-quarter qd-resumo-bt">
        <header class="w3-container w3-indigo">
            <h2>Pioneiros Regulares</h2>
        </header>
        <div class="w3-container">
            <p>
                <b>Total que relatou: </b>
                {% if reg_qtd_relat %}
                {{ reg_qtd_relat }}
                {% else %}
                <span class="nao-informado">0</span>
                {% endif %}
            </p>
            <p>
                <b>Publicações: </b>
                {% if reg_total_public.publicacoes__sum %}
                {{ reg_total_public.publicacoes__sum }}
                {% else %}
                <span class="nao-informado">0</span>
                {% endif %}
            </p>
            <p>
                <b>Horas: </b>
                {% if reg_total_horas.horas__sum %}
                {{ reg_total_horas.horas__sum }}
                {% else %}
                <span class="nao-informado">0</span>
                {% endif %}
            </p>
            <p>
                <b>Revisitas: </b>
                {% if reg_total_revis.revisitas__sum %}
                {{ reg_total_revis.revisitas__sum }}
                {% else %}
                <span class="nao-informado">0</span>
                {% endif %}
            </p>
            <p>
                <b>Estudos: </b>
                {% if reg_total_estud.estudos__sum %}
                {{ reg_total_estud.estudos__sum }}
                {% else %}
                <span class="nao-informado">0</span>
                {% endif %}
            </p>
        </div>
    </div>

    <div class="w3-card w3-quarter qd-resumo-bt">
        <header class="w3-container w3-dark-grey">
            <h2>Total Geral Mês</h2>
        </header>
        <div class="w3-container">
            <p><b>Total que relatou: </b>{{ qtd_relat }}</p>
            <p><b>Publicações: </b>{{ total_public.publicacoes__sum }}</p>
            <p><b>Horas: </b>{{ total_horas.horas__sum }}</p>
            <p><b>Revisitas: </b>{{ total_revis.revisitas__sum }}</p>
            <p><b>Estudos: </b>{{ total_estud.estudos__sum }}</p>
        </div>
    </div>
</div>

{% else %}
<div class="w3-container">
    <div class="w3-panel w3-yellow w3-border">
        <h3>{{ mensagem_titulo }}</h3>
        <p>{{ mensagem_corpo1 }}</p>
        <p>{{ mensagem_corpo2 }}</p>
    </div>
</div>
{% endif %}


{% endblock %}