{% extends 'layout.html' %}

{% block content %}

<form method="POST" class="w3-cell-row" style="margin-bottom: 12px;">
    {% csrf_token %}
    {% load widget_tweaks%}
    {% load static %}
    <div class="w3-container w3-cell w3-mobile">
        <label for="form.id_for_label">Mês Inicio</label>
        {% render_field form.mes_inicio class="w3-select" %}
    </div>
    <div class="w3-container w3-cell w3-mobile">
        <label for="form.id_for_label">Ano Inicio</label>
        {% render_field form.ano_inicio class="w3-input" %}
    </div>    
    <div class="w3-container w3-cell w3-mobile">
        <button type="submit" class="w3-button w3-blue item-pesq"><img src="{% static 'imagens/lupa_pesquisa.png' %}">
            Pesquisar</button>
    </div>
</form>

{% if atividades_flt %}

<p>Deu certo</p>

{% endif %}

{% endblock %}